/* .form-group{
    margin-top:100px;
} */

.sign-up-track{
    background-color:white !important;  
}

.card{
    border:white !important;
}

.or-class{
    margin-left: 20px;
    font-weight:bold;
}